# temp. editor backups:
*~

# generated content / project files:
.project
.cproject
doc
html
.qglviewer.xml

# build output:
lib
bin
build
callgrind.out*

# in case someone runs an in-source build:
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CMakeFiles
CPackSourceConfig.cmake
install_manifest.txt
Makefile

# our binary files, in case someone forgets them in the source dir:
*.bt
*.ot
*.graph
octovis/src/extern/QGLViewer/.qmake.stash
octovis/src/extern/QGLViewer/QGLViewer.prl
octovis/src/extern/QGLViewer/x64/
octovis/src/extern/QGLViewer/release/
octovis/src/extern/QGLViewer/debug/
octovis/src/extern/QGLViewer/.vs/
octovis/src/extern/QGLViewer/QGLViewerd_resource.rc
octovis/src/extern/QGLViewer/QGLViewerd2.pdb
octovis/src/extern/QGLViewer/QGLViewerd2.lib
octovis/src/extern/QGLViewer/QGLViewerd2.ilk
octovis/src/extern/QGLViewer/QGLViewerd2.exp
octovis/src/extern/QGLViewer/QGLViewerd2.dll
octovis/src/extern/QGLViewer/QGLViewerd.prl
octovis/src/extern/QGLViewer/QGLViewer_resource.rc
octovis/src/extern/QGLViewer/QGLViewer2.lib
octovis/src/extern/QGLViewer/QGLViewer2.exp
octovis/src/extern/QGLViewer/QGLViewer2.dll
octovis/src/extern/QGLViewer/QGLViewer.vcxproj.user
octovis/src/extern/QGLViewer/QGLViewer.vcxproj.filters
octovis/src/extern/QGLViewer/QGLViewer.vcxproj
octovis/src/extern/QGLViewer/QGLViewer.sln
